In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('stud.csv')
data.head(7)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [4]:
data.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

* 5 coulmns are Object data_type
* 3 Columns are Numeric Data_type

* should convert the Object Data Type into numeric Data with OneHot Encoder

In [11]:
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

In [18]:
cat_coulmns = X.select_dtypes(include='object').columns
cat_coulmns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')

In [19]:
le = LabelEncoder()

In [21]:
for column in cat_coulmns:
    data[column] = le.fit_transform(data[column])
data

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,0,1,1,1,1,72,72,74
1,0,2,4,1,0,69,90,88
2,0,1,3,1,1,90,95,93
3,1,0,0,0,1,47,57,44
4,1,2,4,1,1,76,78,75
...,...,...,...,...,...,...,...,...
995,0,4,3,1,0,88,99,95
996,1,2,2,0,1,62,55,55
997,0,2,2,0,0,59,71,65
998,0,3,4,1,0,68,78,77
999,0,3,4,0,1,77,86,86

In [22]:
X = data.drop(['math_score'], axis=1)
y = data['math_score']

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=2)

In [24]:
print(X_test.shape)
print(X_train.shape)
print(y_train.shape)
print(y_test.shape)

(200, 7)
(800, 7)
(800,)
(200,)

In [25]:
sc = StandardScaler()
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [26]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [27]:
model.fit(X_train_sc,y_train)

LinearRegression()

In [28]:
y_pred = model.predict(X_test_sc)
y_pred

array([52.1120407 , 68.20569115, 87.66802795, 63.09151446, 72.97583857,
       50.07185511, 60.45747091, 89.98531948, 68.83435143, 47.39175278,
       64.17837345, 62.35769651, 75.57282356, 65.67021357, 50.61653159,
       59.32227862, 56.36531207, 30.74813211, 69.83088381, 64.50480346,
       54.6892468 , 66.35305644, 49.91581765, 68.18696938, 58.22808805,
       67.45870623, 78.64814441, 57.86242594, 58.50363559, 80.0385979 ,
       54.83490843, 83.67067204, 79.15885552, 49.76833907, 68.44748057,
       83.4806893 , 72.66328573, 64.36373672, 85.66087383, 61.37242775,
       78.34046853, 64.00863785, 81.47309044, 67.04185967, 57.19808563,
       81.11752601, 22.89742551, 88.02576593, 44.76412107, 51.74550764,
       69.76693737, 72.01698934, 77.22910051, 67.21800712, 64.71773684,
       72.04433309, 84.60859611, 67.7765189 , 85.42302335, 66.6122608 ,
       44.30318651, 55.05798535, 78.07859539, 43.9963605 , 65.93933535,
       59.2826317 , 63.70713169, 76.35512963, 22.21673934, 73.21499588,
       59.07410703, 77.16630017, 73.06310858, 62.91295159, 70.31778374,
       83.20715164, 77.62277975, 63.988803  , 72.43271356, 61.18486043,
       60.40582765, 76.01305681, 63.80062062, 88.18228131, 73.21653768,
       51.01683236, 56.06932179, 75.01582139, 65.86109946, 67.85236905,
       89.95112531, 54.19813825, 46.87178119, 75.52656918, 79.43726746,
       75.52856514, 75.10512673, 62.29375975, 44.96863273, 69.00227009,
       61.14034597, 68.91833255, 71.47827305, 53.85297215, 69.24631152,
       53.39471157, 62.2704265 , 90.26991097, 65.04773285, 47.3751974 ,
       81.47483753, 69.6322694 , 43.81210315, 54.84904839, 89.29913177,
       66.61555686, 68.4455168 , 66.47430394, 90.45324859, 40.1524337 ,
       84.62618163, 81.77506468, 57.20029829, 70.39031532, 68.94609828,
       51.09130144, 67.18735789, 70.23886559, 69.06313715, 66.33100894,
       88.30460252, 56.54275245, 93.02274049, 54.61651961, 83.46435286,
       77.11665736, 53.34443701, 68.24095903, 70.48842248, 53.38608707,
       48.55028549, 85.71733218, 56.93816658, 47.581526  , 69.68516891,
       65.19210156, 54.24135262, 25.25346674, 70.28687846, 62.96122301,
       83.53804363, 43.63354027, 84.86672423, 66.04069922, 62.97576135,
       67.60950339, 78.14382506, 51.58304891, 64.64500965, 56.74399181,
       84.6602027 , 41.1796014 , 71.78028665, 52.64679977, 39.58375562,
       53.23952822, 43.91829771, 51.6423531 , 67.09120734, 63.25131605,
       54.12827349, 58.48158809, 69.46474645, 59.46885999, 62.53825535,
       78.44161571, 63.83630064, 61.27851952, 74.41433021, 49.5732374 ,
       50.20060476, 64.09992087, 67.39035108, 68.66241709, 76.55943851,
       83.89132679, 88.50255283, 64.92977425, 87.71784118, 58.96384603,
       46.49642801, 88.82698686, 81.33137912, 81.01332026, 52.79121726,
       67.74658662, 40.12314276, 71.41766203, 37.27681741, 58.37868243])

In [32]:
from sklearn.metrics import r2_score

In [33]:
r2_score(y_test,y_pred)

0.8466726793909296

In [34]:
from sklearn.ensemble import RandomForestRegressor
model2 = RandomForestRegressor()

In [35]:
model2.fit(X_train_sc, y_train)

RandomForestRegressor()

In [36]:
y2_pred = model2.predict(X_test_sc)
print(y2_pred)

[47.08       66.63       85.46       63.4        69.11       45.45
 61.84       81.92       69.76       46.67       63.49       61.69
 72.52       64.29       44.56       55.26       52.41       32.86
 66.2        67.15       56.42       66.47       50.42       71.46
 60.62       66.45       72.45       54.17       58.85       82.31666667
 58.26       82.3        76.2        46.6        63.47       84.82
 70.94       66.04       91.32833333 58.96       78.22       63.38
 81.         68.83       54.78       83.47       23.7        94.8
 45.17       49.1        67.7        75.09       77.26       65.
 65.44       67.59       86.07       62.98       88.17       62.89
 38.89       56.85       73.57       45.58       70.99       56.33
 60.39       73.46       20.415      74.77       57.38       79.9
 71.98       62.26       71.93       84.115      75.03       66.63
 70.5        63.13       60.84       76.62       63.63       84.98
 74.91       55.94       58.04       75.02       67.46       65.46
 93.06416667 48.45       46.57       75.78       79.8        76.49
 80.26       62.14       45.11       68.19       60.23       68.32
 68.83       59.61       71.97       55.34       65.55       85.26533333
 64.69       45.09       82.82       70.01       42.47       53.96
 89.14       66.66       62.94       63.73       92.01583333 36.94
 80.27       80.83       55.04       69.14       66.62       46.19
 67.15       70.62       66.57       63.96       85.52       56.66
 93.19       53.7        80.65       71.88       50.18       67.
 68.92       53.4        46.36       84.63       59.35       50.64
 70.1        63.64       55.22       25.29333333 67.83       62.54
 89.21       42.92       84.75       64.29       62.45       68.92
 76.23       55.59       68.41       56.87       83.77       40.57666667
 70.75       47.74       39.8        52.47       45.04       54.32
 67.95       63.26       56.52       57.02       71.25       55.32
 67.34       75.62       62.11       56.44       73.82       49.68
 51.97       63.3        60.77       70.59       72.16       79.51166667
 87.39       62.63       86.32       59.49       48.86       86.12
 81.19       80.89       57.64       68.7        39.47       70.56
 34.18666667 60.45      ]

In [37]:
r2_score(y_test,y2_pred)

0.814776015361252

* LinearRegression is giving the better acuuracy than RandomForest 
* Lets got with LinearRegression model